<%- include('../partials/header') %>
<% if (locals.errorMsg) { %>
  <p><%= errorMsg %></p>
<% } %>
<form  class="new-coffee-form" action="/coffee" method="post" enctype="multipart/form-data" autocomplete="off">
    <h4>Add a roast</h4>
    <hr>
     <label for="name">Name: </label><input type="text" name="name">
     <label for="roaster">Roaster: </label><input type="text" name="roaster">
     <label for="roastDate">Roast Date: </label><input type="datetime-local" value="<%= roastDate %>" name="roastDate" />

     <label for="aroma">Aroma: </label>
     <select name="aroma">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
      </select>
     <label for="acidity">Acidity: </label>
     <select name="acidity">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
      </select>
     <label for="bodyRating">Body: </label>
     <select name="bodyRating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
      </select>
     <label for="balance">Balance: </label>
     <select name="balance">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
      </select>
     <label for="sweetness">Sweetness: </label>
     <select name="sweetness">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
      </select>
      <hr>
      <label for="review">Review: </label>
      <textarea name="initReview" cols="80" rows="10"></textarea>
      <input type="file" name="image" id="imageUpload" accept="image/*">
      <br>
      <button class="landing-btns" type="submit">Publish</button>
    </form>


<%- include('../partials/footer') %>

<!-- roastDate will be pulled from a blank instance of the coffee schema, bearing the default, in the controller that calls this view -->