<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title>CoffeeDB</title>
  </head>
  <nav>
      <img class="nav-brand" src="/images/coffee-svgrepo-com.svg" alt="coffee logo">
      <h1>CoffeeDB</h1>
      <input class="search-bar-nav" type="text">
      <a href="/coffee" class="nav-link">Browse</a>
      <a href="/coffee/new" class="nav-link">Add a Roast</a>
      <a href="/auth/google">Login<img class="google-icon" src='/images/google-svgrepo-com.svg'></a>
  </nav>
  <body>
