:root {
  --main-black: #0D090A;
  --main-brown: #3B0D10;
  --main-white: #F3F3F4;
  --secondary-blue: #296EB4;
  --secondary-orange: #FF9505;
}

*{
  box-sizing: border-box;
}

html, body{
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}
body {
  /* padding: 50px; */
  font: 14px 'Lato', arial, sans-serif;
  background-color: var(--main-black);
  color: var(--main-white);
}

/* nav  */

.nav-wrapper{
  padding: 0 50px 0 50px;
}

.nav-bar{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: var(--main-brown);
  padding: 0 30px 0 30px;
  border-radius: 0 0 2rem 2rem;
}

.nav-heading{
  font-size: 3rem;
  font-family: 'Raleway', 'Lato', arial, sans-serif;
}

.nav-heading, .nav-brand{
  margin: 10px 0 5px 0;
}

.nav-brand{
  height: 80px;
  margin-right: 20px;
}

.brand-link{
  color: var(--main-white);
  text-decoration: none;
}

.nav-search-wrapper{
  display: flex;
  grid-column: 1;
  align-items: center;
  justify-content: flex-start;
  margin: 20px 10px 0 0;
  width: fit-content;
}

input, .search-btn{
  background-color: var(--main-white);
  border: none;
  border-radius: 5px;
  opacity: 80%;
  color: var(--main-black);
  vertical-align: middle;
  margin-top: 20px;
}

.search{
  min-width: 100%;
  flex-wrap: nowrap;
}

.search-btn{
  height: 30px;
}

.search-btn:hover{
  opacity: 100%;
}

.search-bar-nav{
  height: 30px;
  opacity: 50%;
  font-size: 0.9rem;
  color: var(--main-black);
}


.nav-menu-wrapper{
  display: flex;
  flex-wrap: nowrap;
  grid-column: 2 / span 2;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
  margin-top: 49px;
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-self: flex-end;
  gap: 63px;
  padding: 30px 0 30px 0;
}

/* //burger */

.burger{
  display: none;
  cursor: pointer;
  margin-top: 40px;
  opacity: 75%;
}

.bar{
  display: block;
  width: 40px;
  height: 5px;
  margin: 5px auto;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  background-color: var(--main-white);
}

.nav-link{
  color: var(--main-white);
  text-decoration: none;
  opacity: 80%;
  font-size: 1.2rem;
}
.nav-link:hover, .coffee-link:hover{
  opacity: 100%;
}

/* landing page */

.main-heading{
  font-family: 'Raleway', arial, sans-serif;
  font-size: 13vmin;
margin: 13vh 2vw 0 2vw;
}

.logo-badge{
  display: grid;
  align-self: center;
  grid-template-columns: 23vmin 14vmin 23vmin;
  align-items: center;
  justify-items: center;
}

.badge-hr-l, .badge-hr-r{
  grid-column: 1;
  justify-self: center;
  align-self: center;
  height: 2px;
  width: 100%;
  border: none;
  border-bottom: solid 2px var(--main-white);
}

.landing-brand{
  height: 12vmin;
  grid-column: 2;
}

.badge-hr-r{
  grid-column: 3;
}
.landing-wrapper{
  width: 40%;
  min-width: fit-content;
  margin: 0 auto;
  height: fit-content;
}

.landing-panel{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
  min-height: fit-content;
  min-width: fit-content;
  margin: -60px auto 0 auto;
  background-color: var(--main-brown);
  padding: 30px;
  border-radius: 1.2rem;
}

.landing-links-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: space-between;
  margin: 23px auto;
  width: 100%;
  gap: 23px;
}

.landing-btns, .review-btn, .show-btn, .landing-btns-l, .landing-btns-r{
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: var(--secondary-blue);
  border-radius: 0.6rem;
  opacity: 80%;
  color: var(--main-white);
  font-size:1rem;
  text-decoration: none;
  padding: 0 5px;
}
.landing-btns{
  width: 200px;
  height: 45px;
  outline: none;
  border: none;
  margin: 0 auto;
}

.landing-btns-l{
  justify-self: flex-start;
}
.landing-btns-r{
  justify-self: flex-end;
}

.landing-btns:hover, 
.review-btn:hover,
.landing-btns-l:hover, 
.landing-btns-r:hover, 
.show-btn:hover{
  opacity: 100%;
}

.google-icon{
  height: 17px;
  margin: 0 3px -2px;
  align-self: center;
}

ul{
  list-style: none;
}

/* coffee display  */

.index-wrapper, .favourites-page-wrapper, .show-coffee-wrapper, .results-wrapper{
  padding: 50px 100px 50px 100px;
}

.coffee-card{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 30px 0 30px 0;
  padding: 0 100px 0 100px;
}

.coffee-user-icon{
  align-self: flex-start;
  justify-self: center;
  margin: 0px 50px auto 0;
  border-radius: 50%;
}

.coffee-link{
  color: var(--main-white);
  font-size: 1.2rem;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
  opacity: 85%;
}

.coffee-card-user{
  margin-top: 0;
}

.coffee-card-name-heading{
  margin: -7px 0 0 0;
}

.coffee-card-heading-wrapper{
  align-self: flex-start;
  min-width: 20%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.coffee-link, .coffee-subheading{
margin-top: 0;
}

.comma-icon{
  height: 30px;
  opacity: 80%;
  margin: 0 5px 5px -5px;
}

.coffee-card-review{
 font-size: 1rem;
 margin-top: 0;
 text-align: left;
}

.coffee-card-img{
  height: 260px;
  margin: 0 0 0 50px;
  border-radius: 5px;
}

.coffee-card-image-wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 25%;
}

.coffee-card-middle-column{
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 30%;
  margin: 0 0 30px 20px;
}

.scores-wrapper{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.scores-wrapper > h3{
  font-size: 1.3rem;
}

.new-coffee-text-area{
  border: none;
  border-radius: 5px;
  opacity: 80%;
  font: 1.2rem 'Lato', arial, sans-serif;
  margin-top: 0;
  width: 40%;
}

.show-coffee-button-row{
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  align-self: flex-end;
}

.reviews-wrapper{
  padding: 0 150px 0 150px;
}

.delete-favourite-form-wrapper{
  margin: 0 auto 0 0;
  text-align: center;
  min-width:30%;
}

.review-card{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10px;
  margin: 30px 0 30px 0;
  padding: 0 50px 0 50px;
}

.review-card-left-column, .review-card-middle-column{
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.review-btn{
  display: flex;
  font-size: 0.8rem;
  height: 30px;
  width: 160px;
  border: none;
  border-radius: 4px;
}

.review-button-row{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.coffee-card-hr{
  height: 1px;
  width: 100%;
  border: none;
  /* border-bottom: solid 2px var(--main-white); */
  background: rgb(255,255,255);
  background: -moz-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(243,243,244,1) 1%, rgba(243,243,244,1) 99%, rgba(255,255,255,0) 100%);
  background: -webkit-linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(243,243,244,1) 1%, rgba(243,243,244,1) 99%, rgba(255,255,255,0) 100%);
  background: linear-gradient(90deg, rgba(255,255,255,0) 0%, rgba(243,243,244,1) 1%, rgba(243,243,244,1) 99%, rgba(255,255,255,0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
  margin: 0 auto;
  opacity: 20%;
}


.coffee-card-aroma, 
.coffee-card-acidity, 
.coffee-card-balance, 
.coffee-card-body, 
.coffee-card-sweetness, 
.coffee-card-overall{
  display: inline-block;
  margin: 0 20px 0 0;
}


/* new coffee page */

.new-coffee-page-wrapper{
  margin: 0 auto;
  padding: 10px 100px 50px 100px;
  text-align: center;
}

.new-coffee-heading{
  font-size: 3rem;
}


.new-coffee-heading-wrapper, .edit-coffee-headings-wrapper{
  margin: 30px auto 50px auto;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items:center;
}

.new-coffee-ratings-wrapper, .edit-coffee-ratings-wrapper{
  display: flex;
  margin: 0 auto 30px auto;
  width: 50%;
  justify-content: space-between;
  align-items:center;
  flex-wrap: wrap;
}

.review-content{
  font-size: 1.8rem;
}

.review-card-user-img{
  height: 80px;
  border-radius: 50%;
}

.new-coffee-label{
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.new-coffee-input{
  height: 30px;
  opacity: 80%;
  width: 220px;
  font-size: 0.9rem;
  margin-top: 0;
}
.new-coffee-input:focus, 
.search-bar-nav:focus,
.new-coffee-select:focus,
.new-coffee-text-area:focus,
.edit-review-txt-area:focus,
.new-review-text-area:focus
{
  outline: 2px solid #FF9505;
}

.date-picker{
  height: 30px;
  width: 220px;
  border: none;
  padding: 10px;
  margin-top: 0;
}

.new-coffee-select{
  border: none;
  height: 30px;
  width: 50px;
  border-radius: 2px;
  opacity: 80%;
  font-family: 'Lato', arial, sans-serif;
  margin: 10px;
}


.new-coffee-text-area-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  height: 300px;
  margin-top: 30px;
}

.new-coffee-file-input{
  border: none;
  border-radius: 5px;
  opacity: 80%;
  font-size: 0.9rem;
  width: 200px;
  height: 25px;
  margin: 0 5px;
}

.new-coffee-file-input-wrapper{
  margin: 30px auto 0 auto;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items:center;
}

/* favourites page */

.favourites-heading{
  text-align: center;
  opacity: 80%;
}

.delete-favourite-btn{
  display: flex;
  align-self: flex-start;
  font-size: 0.8rem;
  height: 30px;
  width: 160px;
  margin-left: 0;
  border-radius: 4px;
}
/* show page */

.show-heading, .reviews-heading{
  text-align: center;
}

.show-hr-top{
  margin-bottom: 30px;
}

.show-hr-bottom{
  margin-top: 30px;
}

.show-btn{
  display: flex;
  align-self: flex-start;
  font-size: 0.8rem;
  height: 30px;
  width: 190px;
  border: none;
  border-radius: 4px;
}

/* edit coffee show */

.edit-coffee-inputs-wrapper{
  text-align: center;
}

.edit-coffee-heading{
  text-align: center;
}

.cancel-edit-coffee-btn{
  margin-top: 10px;
}

/* review section */

.review-hr{
  height: 3px;
  border: none;
  border-bottom: solid 2px var(--main-white);
  opacity: 80%;
  width: 84.5%;
  margin: 0 auto;
  text-align: center;
}

.new-coffee-review-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.review-content > .comma-icon{
  margin-left: 0;
}

.edit-form-container{
  margin: 30px 0 30px 0;
  padding: 0 50px 0 50px;
}

.edit-review-form-flex-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 10px;
}

.edit-review-left-column{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.edit-review-user-img{
  border-radius: 50%;
  height: 80px;
}

.edit-review-middle-column{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.edit-review-txt-area{
  font-family: 'Lato', arial, sans-serif;
  font-size: 1.7rem;
  border-radius: 3px;
  height: 250px;
  width: 500px;
}

.edit-review-button-row{
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}

.cancel-edit-btn{
  align-self: flex-end;
}

.edit-review-select{
  border: none;
  height: 30px;
  width: 50px;
  border-radius: 2px;
  opacity: 80%;
  font-family: 'Lato', arial, sans-serif;
  margin: 10px 0;
}

.new-review-ratings-wrapper{
  margin: 10px 0;
}

.new-review-text-area{
  border-radius: 5px;
  font-size: 1.5rem;
  font-family:'Lato', arial, sans-serif;
  width: 80%;
}

@media (max-width:1800px){
  .new-coffee-ratings-wrapper{
    width:70%;
  }
}

@media(max-width:1719px){

  .edit-coffee-ratings-wrapper{
    flex-direction: column;
  }

  .show-coffee-button-row{
    align-self: flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .new-coffee-text-area{
    width: 80%;
  }
  
    .coffee-card{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
  
  .coffee-card-img{
    margin: 0;
    height: 175px;
  }

  .coffee-card{
    flex-direction: column;
    gap:20px;
  }
  .coffee-card-middle-column{
    margin: 0;
    align-self: flex-start;
    justify-content: flex-start;
    align-items: flex-start;
    max-width:none;
  }
  .coffee-card-image-wrapper{
    flex-grow: 2;
    justify-content: flex-start;
    align-items: center;
  }
}

@media (max-width:1420px){

  .new-coffee-ratings-wrapper{
    align-items: flex-start;
    width: 95%;
}

.edit-review-txt-area{
  opacity: 80%;
  background-color: var(--main-white);
  border-radius: 5px;
  font: 1.2rem 'Lato', arial, sans-serif;
  width: 50%;
}
}


@media (max-width: 1300px){
  .nav-link{
    font-size: 1rem;
  }
  }

@media (max-width: 1190px){
   
    .landing-links-container{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 15px;
    }
  
    .landing-btns-l, .landing-btns-r{
      justify-self: center;
      height: 100%;
    }
  
     .burger{
      display: block;
      grid-column: 3;
      justify-self: flex-end;
      align-self: center;
     }
  
     .burger.active .bar:nth-child(2){
      opacity: 0;
     }
     .burger.active .bar:nth-child(1){
      transform: translateY(10px) rotate(45deg);
     }
     .burger.active .bar:nth-child(3){
      transform: translateY(-10px) rotate(-45deg);
     }
     .nav-menu, .nav-menu-wrapper{
      height: 170px;
      position: fixed;
      left: -100%;
      top: -1%;
      gap: 0;
      flex-direction: column;
      background-color: var(--main-black);
      width: 100%;
      text-align: center;
      transition: 0.2s;
     }
     .nav-item{
        margin: 10px 0;
     }
  
     .nav-menu.active{
      left: 0;
      top: 0;
      margin-top:0;
     }
  }

  @media (max-width:1080px){

    .review-card-user-img, .edit-review-user-img{
      height: 50px;
    }
  
    .edit-review-txt-area{
      width: 80%;
    }
  
    .new-coffee-ratings-wrapper{
      flex-direction: column;
      justify-content: space-between;
      align-items:center;
    }
  }

  @media (max-width: 770px){
    .nav-search-wrapper{
      flex-wrap: wrap;
      grid-column: 1 / span 2;
      margin: 5px;
    }
    .search-bar-nav, .search-btn{
      margin-bottom: 20px;
    }
    .burger{
      margin:0;
    }
    .nav-heading, .nav-brand{
      font-size: 2rem;
      margin: 20px 0 0 0;
    }
    .nav-brand{
      height: 45px;
    }

    .reviews-wrapper{
      padding: 0 20px 0 20px;
    }
    .new-review-text-area{
      width: 90%;
    }
  }
  

  @media (max-width: 770px) and (max-height: 490px){

    .landing-btns-l, .landing-btns-r{
      justify-self: center;
      height: 30px;
      font-size: 0.9rem;
    }
  
    .main-heading{
      margin-top: 20%;
    }
  }

  @media(max-width:501px){

    .coffee-card-image-wrapper{
      min-width: 80%;
    }
  
    .edit-review-txt-area{
      width: 90%;
    }
  
    .review-content{
      text-align: center;
    }
  
    .review-card-left-column{
      display: flex;
      align-self: center;
      align-items: center;
      justify-content: center;
    }
  
    .review-card-middle-column{
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
      flex-direction: column;
    }
  
    .edit-review-form-flex-container{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .edit-review-left-column, .edit-review-middle-column{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .review-card{
      padding: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
  
    .review-button-row{
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .delete-favourite-form-wrapper{
      margin: 0 auto;
    }
  
    .delete-favourite-form{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  
    .show-coffee-button-row{
      align-self: flex-start;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
  
    .coffee-card{
      padding: 0 20px 0 20px;
    }
  
    .show-coffee-wrapper{
      padding: 50px 50px 50px 50px;
    }
  
    .reviews-wrapper{
      padding: 0 20px 0 20px;
    }
  
    .coffee-card{
      justify-content: center;
      flex-direction: row;
    }
    .coffee-card-middle-column{
      margin: 0 auto;
      justify-content: center;
      align-items: center;
      max-width:80%;
    }
    .coffee-card-heading-wrapper{
      margin: 10px 0 10px 0;
      justify-content: center;
      align-items: center;
      font-size: 0.6rem;
      width: 100%;
      text-align: center;
    }
    .coffee-user-icon{
      margin: 0;
    }
    .coffee-card-review{
      text-align: center;
    }
    .scores-wrapper{
      justify-content: center;
      flex-direction: column;
      margin-bottom: 10px;
      text-align: center;
    }
    .scores-wrapper > h3{
      margin: 0;
    }
  
    .coffee-card-image-wrapper{
      flex-grow: 2;
      justify-content: center;
      align-items: center;
    }
  }

  @media(max-height: 490px){
 
    .main-heading{
      font-size: 3rem;
      margin-top: 12%;
    }
    .logo-badge{
      margin-bottom: 5vh;
    }
  }

.error-txt{
  font-size: 1rem;
  color: var(--secondary-orange);
  margin: 20px auto;
  text-align: center;
}

.hidden{
  display: none;
}

footer{
  height: 30px;
  text-align: center;
  color: var(--secondary-blue);
}

.footer-txt{
  color: var(--secondary-blue);
  text-decoration: none;
  opacity: 85%;
}
.footer-txt:hover{
  opacity: 100%;
}